@font-face {
    font-family: "Rajdhani";
    src: url("../fonts/rajdhani-light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "Rajdhani";
    src: url("../fonts/rajdhani-regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Rajdhani";
    src: url("../fonts/rajdhani-medium.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "Rajdhani";
    src: url("../fonts/rajdhani-semibold.ttf") format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: "Rajdhani";
    src: url("../fonts/rajdhani-bold.ttf") format("truetype");
    font-weight: 700;
}