@font-face {
    font-family: "Vermin Verile";
    src: url("../fonts/vermin-verile.otf") format("opentype");
}

@font-face {
    font-family: "Vermin Vibes";
    src: url("../fonts/vermin-vibes.ttf") format("truetype");
}

@font-face {
    font-family: "Vermin Vibes 2";
    src: url("../fonts/vermin-vibes-2-white.otf") format("opentype");
    font-weight: 300;
}

@font-face {
    font-family: "Vermin Vibes 2";
    src: url("../fonts/vermin-vibes-2.otf") format("opentype");
    font-weight: 400;
}

@font-face {
    font-family: "Vermin Vibes 2";
    src: url("../fonts/vermin-vibes-2-black.otf") format("opentype");
    font-weight: 500;
}

@font-face {
    font-family: "Vermin Vibes 2 EDM XTC";
    src: url("../fonts/vermin-vibes-2-edm-xtc.otf") format("opentype");
}

@font-face {
    font-family: "Vermin Vibes 2 Nightclub";
    src: url("../fonts/vermin-vibes-2-nightclub.otf") format("opentype");
}

@font-face {
    font-family: "Vermin Vibes 2 Soft";
    src: url("../fonts/vermin-vibes-2-soft.otf") format("opentype");
}

@font-face {
    font-family: "Vermin Vibes 3";
    src: url("../fonts/vermin-vibes-3.otf") format("opentype");
}

@font-face {
    font-family: "Vermin Vibes 4";
    src: url("../fonts/vermin-vibes-4.otf") format("opentype");
    font-weight: 400;
}

@font-face {
    font-family: "Vermin Vibes 4";
    src: url("../fonts/vermin-vibes-4-helium.otf") format("opentype");
    font-weight: 300;
}

@font-face {
    font-family: "Vermin Vibes 1989";
    src: url("../fonts/vermin-vibes-1989.ttf") format("truetype");
}

@font-face {
    font-family: "Vermin Vibes Corrupto";
    src: url("../fonts/vermin-vibes-corrupto.otf") format("opentype");
}

@font-face {
    font-family: "Vermin Vibes Diet";
    src: url("../fonts/vermin-vibes-diet.ttf") format("truetype");
}

@font-face {
    font-family: "Vermin Vibes Dystopia";
    src: url("../fonts/vermin-vibes-dystopia.ttf") format("truetype");
}

@font-face {
    font-family: "Vermin Vibes eX";
    src: url("../fonts/vermin-vibes-ex.ttf") format("truetype");
}

@font-face {
    font-family: "Vermin Vibes Mert";
    src: url("../fonts/vermin-vibes-mert.ttf") format("truetype");
}

@font-face {
    font-family: "Vermin Vibes Out Of Ink";
    src: url("../fonts/vermin-vibes-out-of-ink.ttf") format("truetype");
}

@font-face {
    font-family: "Vermin Vibes Redux";
    src: url("../fonts/vermin-vibes-redux.ttf") format("truetype");
}

@font-face {
    font-family: "Vermin Vibes Roundhouse";
    src: url("../fonts/vermin-vibes-roundhouse.ttf") format("truetype");
}

@font-face {
    font-family: "Vermin Vibes Slant";
    src: url("../fonts/vermin-vibes-slant.ttf") format("truetype");
}

@font-face {
    font-family: "Vermin Vibes V";
    src: url("../fonts/vermin-vibes-v.otf") format("opentype");
}