@using Xaelith.ServiceModel

@inject IConfigurationService Configuration

<!DOCTYPE html>
<html lang="en">

<head>
    <title>@Configuration.Settings.General.Title</title>
    
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <base href="/"/>

    <link rel="stylesheet" href="../wwwroot/xa-core/style/tailwind.css"/>
    <ImportMap/>
    <HeadOutlet/>
</head>

<body>
<Routes @rendermode=InteractiveServer />
<script src="_framework/blazor.web.js"></script>
</body>

</html>